<!-- css 먹이기 static -->
{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>base</title>
		<link type= "text/css" rel="stylesheet" href="{%static 'css/style_member.css' %}">
		<script src="{%static 'js/jquery-3.6.0.js' %}"></script>
		<script src="{%static 'js/script.js'%}"></script>
	</head>
	<body>
		{% block header %} <br> 상단메뉴 <br> {% endblock %}
		{%block title %} <h2>회원관리</h2>{%endblock%}
		<br>
		{%block contents%}
		
		{%endblock%}
	</body>
</html>