{% extends "base_board.html" %}
{% block title %} <h2> QnA 보기 </h2> {% endblock %}
{% block contents %}
<table style="width:50%">
	<tr>
		<th> 글번호 </th>
		<td style="text-align:center"> {{qnanum}} </td>
		<th> 조회수 </th>
		<td style="text-align:center"> {{dto.qnascore}} </td>
	</tr>
	<tr>
		<th> 작성자 </th>
		<td style="text-align:center"> {{dto.userid}} </td>
		<th> 작성일 </th>
		<td style="text-align:center"> {{dto.qnadate|date:"Y-m-d H:i"}} </td>
	</tr>
	<tr>
		<th> 제목 </th>
		<td colspan="3"> {{dto.qnatitle}} </td>
	</tr>
	<tr>
		<th> 내용 </th>
		<td colspan="3"> <pre>{{dto.qnacontent}}</pre> </td>
	</tr>
	<tr>
		<th colspan="4">
		{% if not dto.reply_content  %}
			<input class="inputbutton" type="button" value="수정"
				onclick="location='modify?qnanum={{dto.qnanum}}&pagenum={{pagenum}}'">
			<input class="inputbutton" type="button" value="삭제"
				onclick="location='delete?qnanum={{dto.qnanum}}&pagenum={{pagenum}}'">
		{% endif %}
			<input class="inputbutton" type="button" value="목록"
				onclick="location='list?pagenum={{pagenum}}'">
		</th>
	</tr>
</table>
{% if dto.reply_content  %}
<table style="width:50%">
	
	<tr>
		<th> 답글제목 </th>
		<td colspan="3"> {{dto.reply_title}} </td>
	</tr>
	<tr>
		<th colspan="3"> 답글내용 </th>	
	</tr>
	<tr>
		<td colspan="3"> <pre style="text-align:center">{{dto.reply_content}}</pre> </td>
	</tr>
		

</table>
{% endif %}
{% endblock %}