{% extends "base_board.html" %}
{% block title %} <h2> 글 수 정 </h2> {% endblock %}
{% block contents %}
{% csrf_token %}
<form name="modifyproform" method="post" action="modifypro">
	<input type="hidden" name="qnanum" value="{{qnanum}}">
	<input type="hidden" name="pagenum" value="{{pagenum}}">
	<table>
		<tr>
			<th colspan="2">
				수정할 정보를 입력하세요
			</th>
		</tr>
		<tr>
			<th> 작성자 </th>
			<td> &nbsp;{{dto.userid}} </td>
		</tr>
		<tr>
			<th> 제목 </th>
			<td>
				<input class="input" type="text" name="qnatitle" value="{{dto.qnatitle}}">
			</td>
		</tr>
		<tr>
			<th> 내용 </th>
			<td>
				<textarea name="qnacontent" rows="10" cols="35">{{dto.qnacontent}}</textarea>
			</td>
		</tr>
		<tr>
			<th> 비밀번호 </th>
			<td>
				<input class="input" type="password" name="passwd" value="{{dto.passwd}}">
			</td>
		</tr>
		<tr>
			<th colspan="2">
				<input class="inputbutton" type="submit" value="수정">
				<input class="inputbutton" type="reset" value="취소">
				<input class="inputbutton" type="button" value="수정취소"
					onclick="location='list?pagenum={{pagenum}}'">
			</th>
		</tr>
	</table>
</form>
{% endblock %}