{% load static %}
<h2> 아이디 중복확인 </h2>

<link type= "text/css" rel="stylesheet" href="{%static 'css/style_member.css' %}">
      <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
      <script src="{% static 'js/script.js' %}"></script>
<!-- view 단에 result를 비교해주는 것 -->
{% if result == 0 %}
   <table>
      <tr>
         <th> {{id}}는 사용할 수 있습니다. </th>
      </tr>
      <tr>
         <td align="center">
            확인을 눌러주세요
            <input class="inputbutton" type="button" value="확인" onclick="setid( '{{id}}')">
         </td>
      </tr>
   </table>
{% else %}
   <form name="confirmform" action="confirm">
      <table>
         <tr>
            <th colspan="2"> {{id}}는 사용할 수 없습니다 </th>
         </tr>
         <tr>
            <th> 아이디 </th>
            <td> <input class="input" type="text" name="id"> </td>
         </tr>
         <tr>
            <th colspan="2">
               <input class="inputbutton" type="submit" value="확인">
               <input class="inputbutton" type="button" value="확인취소"
                  onclick="self.close()">
            </th>
         </tr>
      </table>
   </form>
{% endif %}